.App {
  font-family: sans-serif;
  text-align: center;
}

.break-word {
  word-wrap: break-word;
}

.back {
  z-index: -10;
}

.transition-width {
  will-change: width;
  transition-property: width;
  transition-timing-function: linear;
  transition-duration: 150ms;
}

.scroll-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: none;
}

.scroll-none::-webkit-scrollbar {
  /* chrome based */
  width: 4px; /* ширина scrollbar'a */
  background-color: gray; /* опционально */
}
.scroll-none::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(91, 33, 182);
}
